<h3>Welcome {{name}}!</h3>
<div class="divider"></div>
<h5>Dashboard</h5>
<div class="col s12 m4">
  <div class="card">
    <div class="card-content center-align">
      <h4>Mood Chart</h4>
      <p>Under Construction</p>
      <div class="container mood-graph">
        <svg class="bar-chart">{{data}}</svg>
      </div>
    </div>
  </div>
</div>
<br>
<h5>Your Mood Entries:</h5>
<div class="divider"></div>
{{#if entries}}
  <table class="striped">
    <thead>
      <tr>
        <th>Mood</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Edit / Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each entries}}
        <tr>
          <td><a href="/entries/{{_id}}">{{mood}}</a></td>
          <td>{{formatDate createdAt "M/D/YY, h:mm a"}}</td>
          <td><span class="dash-status">{{stripTags (truncate body 150)}}</span></td>
          <td>
            <a href="/entries/edit/{{_id}}" class="btn btn-float">
              <i class="fas fa-edit"></i>
            </a>
            <form action="/entries/{{_id}}" method="POST" id="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn red">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not added any entries.</p>
{{/if}}
<br>

<script type="module" src="/js/main.js"></script>